workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "MASUKKAN_ID_FOLDER_CV_MASUK_ANDA",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        64,
        -48
      ],
      "id": "e397a477-e033-46c3-8a4b-cf08b8016cc8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PILIH_KREDENSIAL_DRIVE_ANDA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        -48
      ],
      "id": "2efd596b-c2a6-4816-9556-51bbc4d4c843",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PILIH_KREDENSIAL_DRIVE_ANDA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        -48
      ],
      "id": "7fa5ca47-0c75-4769-87c4-f2d775be4d99",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-3.5-flash:generateContent?key=MASUKKAN_API_KEY_GEMINI_ANDA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": `Anda adalah HRD profesional senior. Tugas Anda adalah menganalisis kesesuaian teks CV kandidat dengan Job Description berikut.\n\nJOB DESCRIPTION:\nDicari Backend Developer Python minimal 2 tahun pengalaman, menguasai database PostgreSQL, RESTful API, dan familiar dengan Docker.\n\nTEKS CV KANDIDAT:\n${$json.text}\n\nWajib berikan output HANYA dalam format JSON bersih (tanpa markdown \\`\\`\\`json atau teks basa-basi lainnya) dengan struktur seperti ini:\n{\n  \"nama\": \"Nama Lengkap Kandidat\",\n  \"email\": \"Alamat Email\",\n  \"skor\": 85,\n  \"analisis\": \"Alasan singkat kelayakan atau ketidaklayakan dalam 2 kalimat.\",\n  \"status\": \"LOLOS\"\n}\nCatatan: status HANYA boleh berisi teks 'LOLOS' (jika skor >= 75) atau 'TOLAK' (jika skor < 75).`\n    }]\n  }]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -48
      ],
      "id": "948b2e65-b703-41d7-8e18-5234fa1b4c6c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "try {\n  // 1. Ambil teks respons mentah dari Gemini\n  const rawText = $input.item.json.candidates[0].content.parts[0].text;\n  \n  // 2. Ubah string teks tersebut menjadi objek JSON asli\n  const cleanData = JSON.parse(rawText.trim());\n  \n  // 3. Kembalikan data yang sudah bersih agar bisa digunakan oleh node setelahnya\n  return { json: cleanData };\n} catch (error) {\n  // Jika ada kegagalan parsing, kirim pesan error yang aman\n  return { \n    json: {\n      nama: \"Gagal Ekstraksi\",\n      email: \"gagal@rekrutmen.com\",\n      skor: 0,\n      analisis: \"Gagal membaca format output dari AI.\",\n      status: \"TOLAK\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -48
      ],
      "id": "29689490-af49-45a5-825e-ee0dd87e946a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "MASUKKAN_ID_SPREADSHEET_DATABASE_ANDA",
          "mode": "list",
          "cachedResultName": "Database Rekrutmen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ByVga_TwBH0slnOQy3XKm_5uS0OXJKA0147U49bbC7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ByVga_TwBH0slnOQy3XKm_5uS0OXJKA0147U49bbC7w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama": "={{ $json.nama }}",
            "Email": "={{ $json.email }}",
            "Analisis": "={{ $json.analisis }}",
            "Status": "={{ $json.status }}",
            "Tanggal": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "Skor": "={{ $json.skor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skor",
              "displayName": "Skor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analisis",
              "displayName": "Analisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -48
      ],
      "id": "6f77bfce-dc54-48dd-85bb-89c273d7f88a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PILIH_KREDENSIAL_GMAIL_ANDA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f2ed937-5fce-4cc6-8700-a9b3bbdafa84",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "LOLOS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1280,
        -48
      ],
      "id": "29482ba9-a5e8-4216-91d5-f5f7d3b262af",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Langkah Selanjutnya: Wawancara Backend Developer - {{ $json.Nama }}",
        "message": "=<p>Halo <b>{{ $json.Nama }}</b>,</p>\n<p>Terima kasih telah melamar posisi Backend Developer di perusahaan kami.</p>\n<p>Kami sangat terkesan dengan CV Anda yang menunjukkan kecocokan sangat baik dengan kriteria kami (Skor Evaluasi: <b>{{ $json.Skor }}</b>).</p>\n<p>Kami ingin mengundang Anda ke sesi wawancara awal. Silakan pilih waktu yang paling sesuai untuk Anda melalui tautan Calendly kami di bawah ini:</p>\n<p><a href=\"https://calendly.com/rekrutmen-perusahaan/interview\" style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; display: inline-block; border-radius: 4px;\">Jadwalkan Wawancara di Sini</a></p>\n<p>Kami menunggu kabar baik dari Anda.</p>\n<p>Salam hangat,<br><b>Tim HRD Recruitment</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        -192
      ],
      "id": "be33f6da-8942-46fc-9944-be79fd126efa",
      "name": "Send a message",
      "webhookId": "39d31dae-e986-4c9d-8257-f868742b0e5e",
      "credentials": {
        "gmailOAuth2": {
          "id": "PILIH_KREDENSIAL_GMAIL_ANDA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#rekrutmen",
          "mode": "name"
        },
        "text": "=🔥 *Kandidat Lolos Screening Awal!*\n*Nama:* {{ $('If').item.json.Nama }}\n*Skor:* {{ $('Code in JavaScript').item.json.skor }}/100\n*Analisis AI:* _{{ $('If').item.json.Analisis }}_\n\nEmail undangan penjadwalan interview (Calendly) telah dikirim otomatis ke kandidat.\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1664,
        -192
      ],
      "id": "3128844e-43c7-4f83-9da1-e83a49e5bbac",
      "name": "Send a message1",
      "webhookId": "e314b0bb-0e02-48d6-91f1-1e34a32f79a0",
      "credentials": {
        "slackApi": {
          "id": "PILIH_KREDENSIAL_SLACK_ANDA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Update Lamaran Posisi Backend Developer - {{ $json.Nama }}",
        "message": "=<p>Halo <b>{{ $json.Nama }}</b>,</p> <p>Terima kasih banyak atas waktu dan minat yang Anda luangkan untuk melamar posisi Backend Developer di perusahaan kami.</p> <p>Setelah melakukan peninjauan mendalam terhadap CV Anda, dengan berat hati kami informasikan bahwa saat ini kami memutuskan untuk melangkah bersama kandidat lain yang kualifikasinya lebih mendekati kebutuhan spesifik posisi ini saat ini.</p> <p>Kami akan menyimpan CV Anda di database kami untuk peluang masa depan yang sekiranya lebih cocok dengan keahlian luar biasa Anda. Tetap semangat dalam perjalanan karier Anda!</p> <p>Salam hangat,<br><b>Tim HRD Recruitment</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        48
      ],
      "id": "3d943376-d995-4031-bcbf-399c0206e3f6",
      "name": "Send a message2",
      "webhookId": "27a8ba3b-86cd-4842-9d63-b6a122774038",
      "credentials": {
        "gmailOAuth2": {
          "id": "PILIH_KREDENSIAL_GMAIL_ANDA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "MASUKKAN_ID_FOLDER_CV_ARSIP_ANDA",
          "mode": "list",
          "cachedResultName": "CV_Selesai_Diproses",
          "cachedResultUrl": "https://drive.google.com/drive/folders/104r5HegltlVsuA8evPPYqWaSMiYMjSBj"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        -192
      ],
      "id": "782ffd4c-aa57-4c44-a926-a7352ca94a25",
      "name": "Pindahkan CV Lolos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PILIH_KREDENSIAL_DRIVE_ANDA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "MASUKKAN_ID_FOLDER_CV_ARSIP_ANDA",
          "mode": "list",
          "cachedResultName": "CV_Selesai_Diproses",
          "cachedResultUrl": "https://drive.google.com/drive/folders/104r5HegltlVsuA8evPPYqWaSMiYMjSBj"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1696,
        48
      ],
      "id": "c8a9ee4e-61a4-4c2a-be86-12cb10b426f0",
      "name": "Pindahkan CV Tolak",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PILIH_KREDENSIAL_DRIVE_ANDA",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Pindahkan CV Lolos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Pindahkan CV Tolak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4882907d18c64fdaa12deb8ed71889e11f4373096ed66c5262dfe87c4ba0da66"
  }
}